
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    /* background-color: pink; */
    margin-top: 10px;
    margin-bottom:50px;
    /* display:flex; */
    /* justify-content:center; */
    /* align-items: center; */

  }
}

#file-input[type="file"]{
  /* background-color: pink; */
  /* border-radius: 15px; */
  /* color:black; */
  font-family: "poppins";
  font-weight: 600;
  /* padding: 15px; */
  /* display:none */
}

.css-1nu6hgo{
  /* padding-left: 15%; */
}